<div class="comment">
  <div class="comment-meta">
    <%= link_to comment.user.username,profile_path(comment.user.username), class:"text-dark" %>
  </div>
  <div class="d-flex justify-content-between">
    <%= simple_format comment.content %>
    <small class="text-muted">
      <%= time_ago_in_words comment.created_at%> ago
    </small>
  </div>
</div>
