<%= form_for [post, Comment.new], validate: true do |f|%>
  <div class="input-group">
    <%= f.text_field :content, class:"form-control" %>
    <div class="input-group-append">
      <%= f.submit "Comment", class:"btn btn-outline-success" %>
    </div>
  </div>
<% end %>
