// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
  img {
    margin-right: 10px;
  }
}

.post {
  margin-bottom: 15px;
}

.post-details {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

.post-actions {
  margin-bottom: 20px;
  i {
    margin-right: 10px;
    color: #ddd;
    // cursor: pointer;
  }
  i:hover {
    color: rgb(236, 84, 84);
  }
  i.active {
    color: red;
  }
}

.post-square {
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-size: cover !important;
}

.post-stats {
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: none;

  .inner-post-stats {
    padding-top: 45%;
  }
}

.post:hover {
  .post-stats {
    display: block;
  }
}
